@import url(../navigasi/navigasi-all.css) html;
.halaman4{
    width: 100%;
    height: 100vh;
    padding: 0 1em 0;
    box-sizing: border-box;
    scroll-snap-align: start;
    position: relative;
    background-image: url(../../asset/images/bgImg-3.png);
    background-position: 50% 48%;
    background-repeat: no-repeat;
    background-size:  100%;

    h2 {
        text-transform: uppercase;
        letter-spacing: .8rem;
        text-align: center;
        margin: 2rem 0 0 0;
        
    }
    h1{
        text-transform: uppercase;
        letter-spacing: 1rem;
        text-align: right;
        font-size: 4em;
        margin: 3rem 0 0 0;
    }
    .mail{
        position: absolute;
        width: 100%;
        top: 45%;
        left: 0;
        display: grid;
        place-items: center;
        img{
            width: 50px;
            height: 50px;
        }
    }
    .kontakDes{
        margin-top: 13rem;
        font-size: .8rem;
        text-align: center;
        letter-spacing: .3rem;
        font-weight: 550;
        span{
            display: block;
        }
    }
    .madeUsing{
        text-align: center;
    }
    ul{
        display: flex;
        // align-items: flex-end;
        // align-content: center;
        justify-content: space-around;
    }
}