.objects{
    .arrowDown{
        position: absolute;
        top: 65%;
        left: 1em;
        z-index: 1;
    }
    .pageSplit{
        position: absolute;
        top: 78%;
        z-index: 1;
        left: -10em;
        width: 90vh;
    }
}