@import url(../navigasi/navigasi-all.css) html;
.halaman2{
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    margin-top: 100px;
    scroll-snap-align: start;
    background-image: url(../../asset/images/bgImg-1.png);
    background-position: 50% 48%;
    background-repeat: no-repeat;
    background-size:  100%;


    h2{
        position: relative;
        text-align: right;
        text-transform: uppercase;
        letter-spacing: 1em;
        font-style: italic;
        font-size: 2rem;
        top: 10%;
        right: 2em;
    }
    .panah{
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 6rem;
        right: 10px;
        cursor: pointer;
        z-index: 3;
    }

    .content-container {
        position: relative;
        padding: 1rem;
        .kiri{
            // width: fit-content;
            position: relative;
            .content1 {
               .contentImg1 {
                width: 14rem;
                height: 14rem;               
                }
                .more-info{
                    position: absolute;
                    left: .5rem;
                    top: .5rem;
                    font-style: italic;
                    font-weight: 600;
                    text-shadow: 2px 2px 8px #03030c;
                    a{
                        cursor: pointer;
                        
                    }
                }
                h3 {
                    margin: 0;
                    padding: 0;
                    font-style: italic;
                }
                p{
                    margin: 0;
                    padding: 0;
                }
                
            }
            
        }

        .kanan{
            margin-top: 1em;
            position: relative;
            text-align: right;
            .content2 {
               .contentImg2 {
                width: 14rem;
                height: 14rem;
                
                }
                .more-info{
                    position: absolute;
                    right: .5rem;
                    top: .5rem;
                    font-style: italic;
                    font-weight: 600;
                    text-shadow: 2px 2px 8px #03030c;
                    a{
                        cursor: pointer;
                        
                    }
                }
                h3 {
                    margin: 0;
                    padding: 0;
                    font-style: italic;
                }
                p{
                    margin: 0;
                    padding: 0;
                }
                
            }
            
        }

    

        
    }

    .kiri:before  
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 14rem;
    height: 14rem;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }

  .kanan:before  
  {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 14rem;
    height: 14rem;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }


  .kiri:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px 20px #C93508;
  }
  .kanan:hover:before{
    transform: rotate(20deg);
    box-shadow: 0 2px 20px 20px #C93508;
    }
}

    