@import url(../navigasi/navigasi-all.css) html;
.halaman2 {
  position: relative;
  width: 100%;
  height: 120vh;
  top: 0;
  margin-top: 100px;
  scroll-snap-align: start;
  background-image: url(../../asset/images/bgImg-1.png);
  background-position: 50% 48%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.halaman2 h2 {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1em;
  font-style: italic;
  font-size: 2rem;
}

.halaman2 .panah {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 6rem;
  right: 10px;
  cursor: pointer;
  z-index: 3;
}

.halaman2 .content-container {
  position: relative;
  padding: 1rem;
}

.halaman2 .content-container .kiri {
  position: relative;
}

.halaman2 .content-container .kiri .content1 .contentImg1 {
  width: 14rem;
  height: 14rem;
  background-image: url(../../asset/images/robotProject.JPG);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  background-color: #ff5f1f;
}

.halaman2 .content-container .kiri .content1 .more-info {
  position: absolute;
  left: .5rem;
  top: .5rem;
  font-style: italic;
  font-weight: 600;
  text-shadow: 2px 2px 8px #03030c;
}

.halaman2 .content-container .kiri .content1 .more-info a {
  cursor: pointer;
}

.halaman2 .content-container .kiri .content1 h3 {
  margin: 0;
  padding: 0;
  font-style: italic;
}

.halaman2 .content-container .kiri .content1 p {
  margin: 0;
  padding: 0;
}

.halaman2 .content-container .kanan {
  margin-top: 1em;
  position: relative;
  text-align: right;
}

.halaman2 .content-container .kanan .content2 .contentImg2 {
  width: 14rem;
  height: 14rem;
}

.halaman2 .content-container .kanan .content2 .more-info {
  position: absolute;
  right: .5rem;
  top: .5rem;
  font-style: italic;
  font-weight: 600;
  text-shadow: 2px 2px 8px #03030c;
}

.halaman2 .content-container .kanan .content2 .more-info a {
  cursor: pointer;
}

.halaman2 .content-container .kanan .content2 h3 {
  margin: 0;
  padding: 0;
  font-style: italic;
}

.halaman2 .content-container .kanan .content2 p {
  margin: 0;
  padding: 0;
}

.halaman2 .contentImg1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14rem;
  height: 14rem;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.halaman2 .contentImg2:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 14rem;
  height: 14rem;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.halaman2 .contentImg1:hover:before {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-box-shadow: 0 2px 20px 20px #C93508;
          box-shadow: 0 2px 20px 20px #C93508;
}

.halaman2 .contentImg2:hover:before {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-box-shadow: 0 2px 20px 20px #C93508;
          box-shadow: 0 2px 20px 20px #C93508;
}

.halaman2 .contentImg1:hover {
  background-blend-mode: normal;
}

.halaman2 .contentImg2:hover {
  background-blend-mode: normal;
}
/*# sourceMappingURL=halamanKedua.css.map */