@import url(../navigasi/navigasi-all.css) html;
.halaman3 {
    box-sizing: border-box;
    width: 100%;
    height: 120vh;
    margin: 0;
    padding: 1em;
    position: relative;
    scroll-snap-align: start;

    .about-container{
        // width: 100%;
        h2{
            text-transform: uppercase;
            letter-spacing: 1rem;
            font-style: italic;
        }
        p {
            text-align: justify;
            font-size: 1em;
            padding: 0 .5em 0;
            margin-top: 3em;
        }
    }

   
}